<form class="country-neighbour-form">
  <div class="title-label">
    {{'COUNTRY.TITLE' | translate}}
  </div>

  <div>
    <mat-form-field class="iso-input">
      <input matInput
             name="isoCode"
             [(ngModel)]="isoCode"
             placeholder="{{'COUNTRY.INPUT.ISO_PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>
  <div class="search-button">
    <button mat-raised-button
            color="primary"
            (click)="findNeighbours()">
      {{'COUNTRY.BUTTON.SEARCH' | translate}}
    </button>
  </div>

  <div class="load-neighbours-error-label" *ngIf="isError">
    {{'COUNTRY.LABEL.SERVER_ERROR' | translate}}
  </div>

  <div class="table-container mat-elevation-z8">
    <div class="table-loading-shade"
         *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <mat-table #table [dataSource]="neighbourPairs" class="neighbours-table">
      <ng-container matColumnDef="countryLeft">
        <mat-header-cell *matHeaderCellDef> {{'COUNTRY.TABLE.COUNTRY_1' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let countryPair"> {{countryPair.left}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="countryRight">
        <mat-header-cell *matHeaderCellDef> {{'COUNTRY.TABLE.COUNTRY_2' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let countryPair"> {{countryPair.right}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</form>
